.line {
  list-style-type: none;

  cursor: pointer;
}
.active-style {
  color: red;
  font-size: 30px;
  text-decoration: underline;
}
.normal-style {
  color: #ffffff;
}
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 30%;
  height: 400px;
  padding: 4px;
}
.hr-line {
  width: 350px;

  border: 1px solid #ffffff;
  margin-left: 4px;
}
.filter-heading {
  font-size: 18px;
  color: #ffffff;
}
.render-ordered-list {
  display: flex;
  flex-direction: column;
}
.render-ordered-list-2 {
  display: flex;
  flex-direction: column;
}
.filter-container-1 {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: auto;
  height: auto;
  margin-top: 20px;
}
.filter-container-2 {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
