.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.jobs-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  align-self: flex-start;
}
.home-heading {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}
.home-para {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 450px;
}
